<div class="page-container">
  <app-navbar
    [searchText]="searchText()"
    [isInputFocused]="isInputFocused()"
    [recentSearches]="recentSearches"
    [types]="types()"
    [isTypesLoading]="isTypesLoading()"
    [pokemons]="pokemons()"
    (searchTextChange)="searchText.set($event)"
    (filteredPokemons)="filteredPokemons.set($event)"
    (isListFiltered)="isListFiltered.set($event)"
    (currentPage)="currentPage.set($event)"
    (recentSearchesChange)="recentSearches = $event"
  ></app-navbar>

  @if(isPokemonsLoading()) {
  <app-loading></app-loading>
  } @else if (error()) {
  <app-error-feedback></app-error-feedback>
  } @else if (noResultsAfterFilter()){
  <app-no-matches-feedback></app-no-matches-feedback>
  } @else {
  <div class="row">
    @for (pokemon of pokemonsPaginated(); track $index) {
    <div class="col-3 mb-4">
      <div class="card clickable-card" (click)="getPokemonData(pokemon)">
        @if (pokemon.image) {
        <img
          src="{{ pokemon.image }}"
          class="card-img-top pokemon-image"
          alt="{{ pokemon.name }} Image"
        />
        } @else {
        <i class="bi bi-file-earmark-excel no-image"></i>
        }
        <div class="card-body center-text d-flex flex-column justify-content-end">
          <span class="card-title">{{ pokemon.name }}</span>
        </div>
      </div>
    </div>
    }
  </div>

  @if(shouldDisplayPagination()){
  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (currentPageChange)="currentPage.set($event)"
  ></app-pagination>
  } }

  <app-pokemon-stats-modal
    [pokemonData]="pokemonData()"
  ></app-pokemon-stats-modal>
</div>
