<nav class="navbar bg-dark">
  <div class="container">
    <span class="navbar-brand">
      <img
        src="assets/images/pokemonLogo.svg"
        alt="Poke"
        width="150"
        height="55.2"
      />
    </span>

    <div class="d-flex">
      <app-search
        [searchText]="searchText()"
        [pokemons]="pokemons()"
        [recentSearches]="recentSearches()"

        (onSearchChange)="onSearchChange.emit()"

        (searchTextChange)="searchTextChange.emit($event)"
        (filteredPokemons)="filteredPokemons.emit($event)"
        (isListFiltered)="isListFiltered.emit($event)"
        (currentPage)="currentPage.emit($event)"
        (recentSearchesChange)="recentSearchesChange.emit($event)"
      ></app-search>

      <app-select
        [types]="types()"
        [pokemons]="pokemons()"
        [isTypesLoading]="isTypesLoading()"
        (filteredPokemons)="filteredPokemons.emit($event)"
        (isListFiltered)="isListFiltered.emit($event)"
        (currentPage)="currentPage.emit($event)"
      ></app-select>
    </div>
  </div>
</nav>
