.stat-hp {
  background-color: #599b3d;
}

.stat-attack {
  background-color: #d1681d;
}

.stat-defense {
  background-color: #e2cd30;
}

.stat-special-attack {
  background-color: #3065e1;
}

.stat-special-defense {
  background-color: #bb2ebb;
}

.stat-speed {
  background-color: #3bcdcd;
}

.stat-accuracy {
  background-color: #8a8a6d;
}

.stat-evasion {
  background-color: #5c4c3a;
}
